<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>여기에 API Key를 추가해주세요</string>
	<key>HACKLE_API_KEY</key>
	<string>fLl0vNDEDmSXx3IU2RDuALUCjpWarC5v</string>
	<key>KAKAO_API_KEY</key>
	<string>1f1d9175f9c1e2682cf32d234475f94a</string>
</dict>
</plist>
